a {
  text-decoration: none !important;
}

.static-page-content .wrapper {
  color: #5e606a;
}

/* .static-page-content {
  line-height: 20px !important;
} */

.tabcontent ul li {
  list-style: none;
}
